* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    display: grid;
    grid-template-columns: 100vw;
}

/* ================HEADER================*/

nav ul {
    margin: 0;
    list-style: none;
    width: 100vw;
    background-color: #ffc917;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

header li {
    margin: 0 1em 0 0;
}
header li a {
    visibility: hidden;
    display:block;
    position: relative;
    width:2em;
    height: 2.5em;
}
header li a svg {
    visibility: visible;
    top:0;
    left: 0;
    height:100%;
    width: em; 
}


header li:first-child {
    margin-right: auto;
    
}
header li:first-child a {
    width:auto;
    margin-top: -1.5em;
}

header nav ul li img {
    width: 4em;
    visibility: visible;
}


nav a {
    text-decoration: none;
    color: black;
}

/* ================MAIN================*/
main {
    margin-top: 3.5em;
}

main section {}

main article {
    background-color: lightgray;
    overflow: hidden;
    margin-top: 1em;
}

main article header {
    display: flex;
}

main article header img {
    width: 100%;
}

main article header h3 {
    margin-left: -95%;
    color: white;
}

main article p {
    padding: 2%
}

main article ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

main article ul li {
    margin: auto;
}

main article footer {
    padding: 3%;
}

/* ================FOOTER================*/
.footer {
    background-color: #ffc917;
    height: 13vh;
    bottom: 0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 600px) and ( max-width: 899px){
    body{
        color: red
    }
    
    
}

@media only screen and (min-width: 900px){
    header li a{
        visibility: visible;
    }
    main section{
        display: grid;
        grid-template-columns: 30VW 45VW 45VW;
        grid-template-rows: 30VH 30VH 30VH 30VH;
        justify-content: flex-start;
        
        
    }
    main section article{
    margin: 2%;
    width: 30vw;
    max-width: 17em;
    max-height: 20%;
    grid-column: 2 / 3;
    justify-content: flex-start;
    overflow: visible;

    }
    
    
}