* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    display: grid;
    grid-template-columns: 100vw;
}

/* ================HEADER================*/

nav ul {
    margin: 0;
    list-style: none;
    width: 100vw;
    background-color: #ffc917;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 3em;
}

.TopBar li {
    margin: 0 1em 0 0;
}

.TopBar li a {
    visibility: hidden;
    display: block;
    position: relative;
    width: 2em;
    height: 2.5em;
}

.TopBar li a svg {
    visibility: visible;
    top: 0;
    left: 0;
    height: 100%;
    width: 2.5em;
    display: block;
}


.TopBar li:first-child {
    margin-right: auto;
    margin-left: -1.5em;

}

.TopBar li:first-child a {
    width: auto;
    margin-top: -1.5em;
}

.TopBar nav ul li img {
    width: 4em;
    visibility: visible;
}


nav a {
    text-decoration: none;
    color: black;
}
.TopBar{
    max-height: 2.5em;
    overflow: hidden;
}
.HeaderImg{
    visibility: hidden;
}

/* ================MAIN================*/
main {
    margin-top: -1em;
}


main form {
    visibility: hidden;
}

main section article {
    background-color: lightgray;
    overflow: hidden;
    margin-top: 1em;
    display: grid;
    max-height: 50vh;
    width: 90vw;
    grid-template-rows: 40% 15% 30% 15%;
    margin: auto;
    margin-bottom: 1em;
}

main article header {
    display: flex;
    grid-row: 1;
}

main article header img {
    width: 100%;
    height: 100%;
}

main article header h3 {
    margin-left: -95%;
    color: white;
    grid-row: 2;
}

main article p {
    padding: 0;
    margin: 0 0 0 1em;
    grid-row: 3;
    height: 100%;
    overflow: hidden;
}

main article ul {
    list-style: none;
    width: 100%;
    grid-row: 4;
    margin: 1em 0 0 -1.2em;
    display: grid;
    grid-template-rows: 1fr 1fr
}

main article ul li {
    height: 100%;
    grid: 1;
    margin: 0 0.36em 0 0;
}

main article ul li:second-child {
    height: 100%;
    margin: 0 0.36em 0 0;
}


main article footer {
    margin: 1em 0 0 1em;
}

/* ================FOOTER================*/
.footer {
    background-color: #ffc917;
    height: 13vh;
    bottom: 0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    body {
        color: red
    }


}

@media only screen and (min-width: 56em) {

    .TopBar{
        max-height: 70VH;
        margin: 0 0 -15em 0;
    }
    
    .TopBar li a {
        visibility: visible;
        white-space: nowrap;
        margin-right: 2em;
        text-align: center;
    }

    nav ul {
        height: 3em;
        background-color: white;
    }

    .TopBar li a svg {
        visibility: visible;
        top: 0;
        left: 0;
        height: 100%;
        width: 2em;
        display: block;
    }


    .TopBar li:first-child {
        margin-right: auto;
    }

    .TopBar li a svg {
        visibility: visible;
        top: 0;
        left: 0;
        height: 100%;
        width: 2.5em;
        display: block;
        margin-left: -1em;
    }
    
    .HeaderImg{
        visibility: visible;
    }

    main {
        margin-top: 5em;
        display: grid;
        grid-template-columns: 20VW 5VW 74VW 1VW;
    }

    main form {
        width: 90%;
    }

    main section {
        margin-top: 1em;
        width: 100%;
        grid-column: 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1em;
        margin-right: 1.5em;
    }

    main section article {
        width: 100%;
    }

    main form {
        grid-column: 1;
        background-color: #ffc917;
        margin: 1em 3em 1em 4em;
        max-height: 80VH;
        padding 1em;
    }

    main form p {
        display: flex;
    }

    main form {
        visibility: visible;
    }

    .footer{
        height: 4em;
        
    }

}
